/*Questo css è incluso in ogni file per mostrare la path
e il titolo della pagina in CSS*/
#vwtitle h1{
	font-size: 5vw;
}
#path{
	padding-top: 1vw;
	font-size: 1.7vw;
}
.icons {
	padding-top: 1vw;	
}
.container {
	/*Queste impostazioni sono per i contenuti non cliccabili*/
	color: black;
	
}
.container a:visited{
	/*Queste impostazioni sono per i contenuti cliccabili*/
	/*color: black;*/
}
.container a:hover{
	color: blue;
}
