body {

}

h1 {
	color: black;
}

p {
	font-family: monospace;;
	font-size: 18px;
}

.column{
	flex-direction: column;
}

.container {

	/*display: inline-block;*/
	width: 35%;
	border: 2px solid blue;
	margin:10px;
	font-size: 3vw;
	color: white;
	background: #0066cc;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.promo{
	text-align: center;
	padding-top: 60px;
}
.container a:visited{
	color: white;
}
.container a:hover{
	color: black;
}
.device_icons {

	max-width: 100%
}