h1 {
	color: black;
}

p {
	font-family: monospace;;
	font-size: 18px;
}

.column{
	flex-direction: column;
}

.container {

	font-size: 2.9vw;

}
.promo{
	padding-top: 3%;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 5%;
}
.container a:visited{
	color: black;
}
.container a:hover{
	color: black;
}
.device_icons {
	padding-top: 1vw;
	/*max-width: 100%;*/
}
#vwtitle h1{
	font-size: 5vw;
}
#path{
	padding-top: 1vw;	
	font-size: 1.7vw;
}