.price{
	font-size: 170%;
	color: red;
}
.oldprice{
	font-size: 170%;
	color: black;
	padding-bottom: 2%;
}
.blue_style{
	color: blue;
	font-family: monospace;
	font-size: 130%;
	padding-bottom: 2%;
}
