.image-padding{

	padding-bottom: 10%;
}
.single-content{

	font-size: 90%;
	text-align: left;
	color: white;
	background-color: #038ed1;
	background-clip: border-box;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-top: 5%;
}
.custom-padding{

	background-color: white;
	padding-bottom: 5%;	
	font-size: 170%;
}