hr{
	border-top: 1px solid #254d74;
}
.footer-line{
	margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
footer{
	background-color: #00001a;
	text-align: center;
}
#padding{
	padding-bottom: 1.5%;
}
.footertext{
	color: #254d74;
}
.img-map{
	height: 25%;
	width: 25%;
	padding-top: 2%;	
}
.img-small{
	height: 15%;
	width: 15%;
	padding-top: 2%;	
}
